[globals]
db_dns=mysql:host=localhost;port=3306;dbname=
db_name=db
db_user=db_usr
db_pass=dasd12321
uri=/
url=http://localhost
salt=nde78132ge31e21e21
DEBUG=3
LANG=pt
LANGS="en","fr","es"
UPLOAD_DIR=files/
LAYOUT=default
